/*HEADER*/

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    padding: 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border: none;
}

.header__arrow {
    border: none;
    background-color: white;
    cursor: pointer;
}

.header__photo {
    padding-left: 16px;
    padding-right: 20px;
}

.header__avatar {
    vertical-align: middle;
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.header__userName {
    display: flex;
    column-gap: 8px;
}

.header__firstName {
    font-weight: bold;
    line-height: 24px;
    color: #242424;
}

.header__lastName {
    font-weight: bold;
    line-height: 24px;
    color: #242424;
}

.header__dots {
    margin-left: auto;
    border: none;
    background-color: white;
}

.horizontal_line {
    opacity: 0.1;
    border: 1px solid #000000;
}
